# Flask
FLASK_SECRET_KEY=

# Database
DB_HOST=
DB_PORT=5432
DB_NAME=galleri
DB_USER=galleri_app
DB_PASSWORD=

# DigitalOcean Spaces
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_REGION=ams3
DO_SPACES_BUCKET=adamjhr-storage
DO_SPACES_CDN_ENDPOINT=https://adamjhr-storage.ams3.cdn.digitaloceanspaces.com
